.blog-main{display:flex;align-content:stretch;grid-gap:40px}
.table-of-content{width:40%;margin-bottom:70px}
.blog-content{width:60%;padding:50px 0}
.blog-content ul{margin-bottom:20px!important}
.blog-content img{border-radius:20px;box-shadow:rgba(255,255,255,.1) 0 1px 1px 0 inset,rgba(50,50,93,.25) 0 50px 100px -20px,rgba(0,0,0,.3) 0 30px 60px -30px}
.blog-content a{color:#000053}
.f-image{width:100%;height:420px}
.f-image img{width:100%;height:100%;object-fit:cover}
.blog-content img{margin-bottom:30px}
.blog-cta-box{background:#000053;padding:30px;border-radius:20px;margin-bottom:20px;position:relative}
.blog-cta-box h3{font-family:"Lexend Deca",sans-serif!important;font-size:70px;font-weight:400;line-height:70px;text-align:left;color:#fff}
.blog-cta-box p{font-family:"Lexend Deca",sans-serif!important;font-size:25px;font-weight:400;line-height:30px;text-align:left;color:#fff}
.blog-cta-box p a{font-weight:500;text-decoration:none;color:#fff}
a.cta-btn{background:var(--secondary-2);display:inline-block;text-align:center;cursor:pointer;font-family:Nobile,sans-serif;font-size:1.125rem;font-weight:500;border:0;padding:1.2rem;border-radius:50px;color:var(--white);line-height:1;padding:15px 25px;margin-top:20px}
a.cta-btn:hover{background:var(--white);color:#000053}
img.cta-ic{position:absolute;width:10%;right:3%;bottom:0}
.blog-content h2{margin-bottom:30px}
.blog-content h3{font-family:"Lexend Deca",sans-serif!important;font-size:40px;font-weight:500;line-height:45px;text-align:left;margin-bottom:30px}
.blog-content p{font-family:"Lexend Deca",sans-serif!important;font-size:18px;font-weight:400;line-height:30px;text-align:left}
.toc-box{background:#f5f5f5;padding:20px;position:-webkit-sticky;position:sticky;top:0}
h2.toc-head{font-family:"Lexend Deca",sans-serif!important;font-size:30px!important;font-weight:400;text-align:center;background:#000053;border-radius:10px;color:#fff;padding:5px 20px 10px 20px;display:inline-block;margin-top:30px!important}
ul.toc-list li a{font-family:"Lexend Deca",sans-serif!important;font-size:18px;font-weight:600;line-height:25px;text-align:left;color:#231f20;margin-bottom:10px;display:block}
ul.inner-ul li a{font-size:15px;font-weight:400}
ul.toc-list{margin-top:30px!important;display:block}
ul.toc-list li{position:relative;padding-left:25px}
ul.toc-list li:before{content:"-";position:absolute;left:0;color:#000053;font-size:40px;line-height:.4}
.f-blog-box{width:1200px;margin:auto;display:flex;align-items:start;justify-content:start;flex-direction:column;grid-gap:20px}
.f-blog-box p{margin:0;font-family:"Lexend Deca",sans-serif!important;font-size:25px;font-weight:400;line-height:30px;text-align:left}
.f-blog-box .banner-btns{margin:0}
.f-blog-box h3{font-family:"Lexend Deca",sans-serif!important;font-size:85px;font-weight:400;line-height:90px;text-align:left}
.row.list-wrapper{display:flex;flex-direction:row;flex-wrap:wrap;align-content:flex-start;justify-content:flex-start;grid-gap:25px}
.blog-box{width:32%;box-shadow:0 4px 10px 0 #00000033;border-radius:20px;padding:20px;display:flex;flex-direction:column;grid-gap:20px}
.blog-box img{height:200px;object-fit:cover;width:100%;border-radius:10px}
.blog-box h3{font-family:"Lexend Deca",sans-serif!important;font-size:45px;font-weight:400;line-height:45px;text-align:center}
.blog-box p{font-family:"Lexend Deca",sans-serif!important;font-size:18px;font-weight:400;line-height:22px;text-align:center;margin:0}
a.blog-btn{font-family:"Lexend Deca",sans-serif!important;font-size:20px;font-weight:700;line-height:45px;text-align:center;color:#000053}
section.blog-grid-section{margin:60px 0}
section.section.home-banner{background-color:#fff;background-image:url(/img/banner-bg.webp);position:relative;background-repeat:no-repeat;background-size:cover;background-position:bottom center;padding:6rem 0 6rem;margin-bottom:35px;display:flex;grid-gap:50px}
.s1.home-banner .custom-row{align-items:center}
.s1.home-banner .heading{font-size:3rem;color:var(--secondary-2);line-height:.8;margin:0 0 2rem;font-weight:400}
ul.toc-list{overflow-y:scroll;height:500px}
ul.toc-list::-webkit-scrollbar{width:10px}
ul.toc-list::-webkit-scrollbar-track{background:#fff}
ul.toc-list::-webkit-scrollbar-thumb{background:#d1d1d1}
ul.toc-list::-webkit-scrollbar-thumb:hover{background:#000053}
@media (min-width:992px){
.s1.home-banner .heading{font-size:6.25rem}
.s1.home-banner .sub-heading{font-size:3.125rem;letter-spacing:1rem}
.s1.home-banner .div-text>p{font-size:1.875rem}
}
.banner-btns{display:flex;align-items:center;gap:1rem;margin:1.5rem 0 0;justify-content:center}
.banner-btns a{font-family:Nobile,sans-serif;display:flex;align-items:center;justify-content:center;min-height:3rem;padding:0 3rem;border-radius:3.125rem;font-weight:500;border:2px solid transparent}
.banner-btns .talk-chat{background:var(--primary);color:var(--secondary)}
.banner-btns .talk-chat:hover{background:0 0;color:var(--primary);border-color:var(--primary)}
.banner-btns .talk-phone{border-color:var(--secondary-2);color:var(--secondary-2);font-weight:700}
.banner-btns .talk-phone:hover{background:var(--secondary-2);color:var(--secondary)}
.s2 .rfp-section{background:var(--primary);border-radius:1.25rem;padding:0 2.5rem}
.rfp-section .footer-rfp.form-style{display:flex;flex-direction:column;justify-content:center;padding:3rem 0}
.rfp-section .div-img{text-align:center;display:flex;align-items:flex-end}
.s2 .rfp-section .form-style .form-head{margin:0 0 2.5rem}
.s2 .rfp-section .form-style .form-submit>.form-btn{background:var(--secondary-2)}
.s2 .rfp-section .form-style .form-submit>.form-btn:hover{background:var(--secondary)}
@media (min-width:1200px){
.rfp-section.rfp-flex{display:flex;flex-wrap:wrap;justify-content:space-between}
.rfp-section .footer-rfp.form-style{flex:1 1 65%}
.s2 .rfp-section .div-img{margin-left:-6rem}
.s2 .rfp-section .form-style .form-head>h2{font-size:5.4rem}
}
ul.tabs-cat li{font-family:Nobile,sans-serif;font-size:20px;font-weight:700;line-height:20.18px;text-align:center;border:2px solid #231f20;border-radius:60px;padding:15px 15px 10px}
ul.tabs-cat{display:flex;flex-wrap:wrap;align-content:center;justify-content:center;align-items:center;grid-gap:35px;transition:.5s;position:relative}
ul.tabs-cat li.active,ul.tabs-cat li:hover{background:var(--primary);color:#fff;transition:.5s;cursor:pointer}
ul.books-list{display:flex;flex-wrap:wrap;align-content:center;justify-content:center;align-items:center}
section.section.s3:before{content:"";width:100%;height:218.45px;background:#fff;position:absolute;top:50%;z-index:-1}
ul.books-list{display:flex;flex-wrap:wrap;align-content:center;justify-content:center;align-items:center}
section.section.s3:before{content:"";width:100%;height:218.45px;background:#fff;position:absolute;top:50%;z-index:-1}
ul.tabs-cat:after{content:""}